@{
  Layout = "_Layout";
}

<h1>Welcome to the Treats and Flavors tracker!</h1>
<p>@Html.ActionLink("All Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("All Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Account Management", "Index", "Account")</p>