@{
  Layout = "_Layout";
}

@using System.Security.Claims

@model IEnumerable<Treats.Models.Treat>

<h2>Here is your list of treats, @User.Identity.Name</h2>
<hr />
@if (Model.Any())
{
    <ul>
        @foreach (var listTreat in Model)
        {
            <li>@Html.DisplayFor(modelTreat => listTreat.Description)</li>
        }
    </ul>
}
else
{
    <p>No treats have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
